WCF即时通信/GobangGameWpfApplication/GobangGameWpfApplication/Service References/ServiceReference1/GobangService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="WcfGobangGameExample" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" targetNamespace="WcfGobangGameExample" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="WcfGobangGameExample/Imports">
      <xsd:import schemaLocation="http://localhost:55234/GobangService.svc?xsd=xsd0" namespace="WcfGobangGameExample" />
      <xsd:import schemaLocation="http://localhost:55234/GobangService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55234/GobangService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GobangGameWcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGobangService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IGobangService_sendInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:sendInfo" />
  </wsdl:message>
  <wsdl:message name="IGobangService_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IGobangService_LoginList_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginList" />
  </wsdl:message>
  <wsdl:message name="IGobangService_PrivateChat_InputMessage">
    <wsdl:part name="parameters" element="tns:PrivateChat" />
  </wsdl:message>
  <wsdl:message name="IGobangService_ShowLogin_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShowLogin" />
  </wsdl:message>
  <wsdl:message name="IGobangService_ShowSendInfo_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShowSendInfo" />
  </wsdl:message>
  <wsdl:message name="IGobangService_ShowLogout_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShowLogout" />
  </wsdl:message>
  <wsdl:message name="IGobangService_ShowWrongLogin_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShowWrongLogin" />
  </wsdl:message>
  <wsdl:message name="IGobangService_ShowWrongLogout_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShowWrongLogout" />
  </wsdl:message>
  <wsdl:message name="IGobangService_ShowUserList_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShowUserList" />
  </wsdl:message>
  <wsdl:message name="IGobangService_ShowPrivateChat_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShowPrivateChat" />
  </wsdl:message>
  <wsdl:portType name="IGobangService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="WcfGobangGameExample/IGobangService/Login" message="tns:IGobangService_Login_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendInfo">
      <wsdl:input wsaw:Action="WcfGobangGameExample/IGobangService/sendInfo" message="tns:IGobangService_sendInfo_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="WcfGobangGameExample/IGobangService/Logout" message="tns:IGobangService_Logout_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginList">
      <wsdl:input wsaw:Action="WcfGobangGameExample/IGobangService/LoginList" message="tns:IGobangService_LoginList_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrivateChat">
      <wsdl:input wsaw:Action="WcfGobangGameExample/IGobangService/PrivateChat" message="tns:IGobangService_PrivateChat_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowLogin">
      <wsdl:output wsaw:Action="WcfGobangGameExample/IGobangService/ShowLogin" message="tns:IGobangService_ShowLogin_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowSendInfo">
      <wsdl:output wsaw:Action="WcfGobangGameExample/IGobangService/ShowSendInfo" message="tns:IGobangService_ShowSendInfo_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowLogout">
      <wsdl:output wsaw:Action="WcfGobangGameExample/IGobangService/ShowLogout" message="tns:IGobangService_ShowLogout_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowWrongLogin">
      <wsdl:output wsaw:Action="WcfGobangGameExample/IGobangService/ShowWrongLogin" message="tns:IGobangService_ShowWrongLogin_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowWrongLogout">
      <wsdl:output wsaw:Action="WcfGobangGameExample/IGobangService/ShowWrongLogout" message="tns:IGobangService_ShowWrongLogout_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowUserList">
      <wsdl:output wsaw:Action="WcfGobangGameExample/IGobangService/ShowUserList" message="tns:IGobangService_ShowUserList_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowPrivateChat">
      <wsdl:output wsaw:Action="WcfGobangGameExample/IGobangService/ShowPrivateChat" message="tns:IGobangService_ShowPrivateChat_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>